---
import Navigation from "./navigation.astro";
import Menu from "./menu.astro";
import ThemeIcon from "./themeIcon.astro";
---

<header>
  <nav>
    <div>
      <Menu />
      <ThemeIcon />
    </div>
    <Navigation />
  </nav>
</header>
<style>
  div {
    display: flex;
    justify-content: space-between;
  }
</style>
